@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

.brand-logo {
    font-family: 'Playfair Display', 'Times New Roman', Times, serif !important;
    font-weight: bold;
    font-style: italic;
    text-shadow: -2px 3px 2px rgba(0, 0, 0, 50);
    letter-spacing: 0.05em;
}

.tag:hover {
    transform: translateY(-2px) !important;
}

.tag:active {
    transform: translateY(2px) !important;
}

#autocomplete-input {
    padding: 0 5px !important;
    font-size: 14px !important;
    width: 90% !important;
    border: #f4f4f4 3px solid !important;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: rgb(255, 0, 255);
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: rgb(190, 0, 190);
}

.switch > label {
    color: rgb(255, 255, 255) !important;
}

ul > .switch > label {
    color: rgb(0, 0, 0) !important;
}

#cuteSwitchSide {
    margin: 0 0 0 20px;
}

#mobile-tags {
    padding: 10px;
}

.mainButton {
    margin: 3px 3px 0 0;
}

 /* label focus color */
.input-field input[type=text]:focus + label {
    color: #000 !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #7b1fa2 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}

.dropdown-content > li > span {
    color: #7b1fa2 !important;
}

.dropdown-content > li > span.highlight {
    color: #000 !important;
}

.card-title {
    font-size: 1em !important;
}

.bold {
    font-weight: bold !important;
}